{% extends "./base.html" %}
{% block title %} Alta Agenda {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1>Editar Datos</h1>
        <div class="card">
            <div class="card-body">
                <form action="/editarDatos/" method="POST"> {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtId" value="{{informacion.id}}" name="txtId" class="form-control" placeholder="No" readonly required>
                    </div>

                    <div class="form-group">
                        <input type="text" id="txtNombre" value="{{informacion.nombre}}" name="txtNombre" class="form-control" placeholder="Nombre" required>
                    </div>

                    <div class="form-group">
                        <input type="text" id="txtApePaterno" value="{{informacion.apellidoPaterno}}" name="txtApePaterno" class="form-control" placeholder="Ape Paterno" required>
                    </div>

                    <div class="form-group">
                        <input type="text" id="txtApeMaterno" value="{{informacion.apellidoMaterno}}" name="txtApeMaterno" class="form-control" placeholder="Ape Materno" required>
                    </div>

                    <div class="form-group">
                        <input type="date" id="txtFechaNacimiento" value="{{informacion.fechaNacimiento|date:'dd/MM/yyyy'}}" name="txtFechaNacimiento" class="form-control" placeholder="Fecha de Nacimiento" required>
                    </div>

                    <div class="form-group">
                        <input type="text" id="txtEdad" value="{{informacion.edad}}" name="txtEdad" class="form-control" placeholder="Edad" required>
                    </div>

                    <div class="form-group">
                        <input type="text" id="txtCorreo" value="{{informacion.correoElectronico}}" name="txtCorreo" class="form-control" placeholder="Correo" required>
                    </div>

                    <div class="form-group">
                        <input type="text" id="txtTelefono" value="{{informacion.telefono}}" name="txtTelefono" class="form-control" placeholder="Telefono" required>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">Editar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}